<h1>
    <%= t 'global.statistics' %>: <%= t '.alliance_transfers' %>
</h1>

<% if @no_alliances %>
    <div class="alert alert-info">
        <%= t '.no_alliances' %>
    </div>
<% else %>
    <div class="card">
        <div class="card-body">
            <% if @target_organization %>
                <h2><%= t('.alliance_with', org: @target_organization.name) %></h2>
            <% end %>
            
            <form class="row mb-4">
                <div class="col-12 col-md-4">
                    <label for="target_organization_id" class="form-label"><%= t '.filter_by_organization' %></label>
                    <select name="target_organization_id" id="target_organization_id" class="form-control">
                        <option value=""><%= t '.all_organizations' %></option>
                        <% @allied_organizations.each do |org| %>
                            <option value="<%= org.id %>" <%= 'selected' if @target_organization&.id == org.id %>><%= org.name %></option>
                        <% end %>
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <label for="from" class="form-label"><%= t '.from_date' %></label>
                    <input class="form-control" type="date" name="from" value="<%= params[:from] %>">
                </div>
                <div class="col-12 col-md-3">
                    <label for="to" class="form-label"><%= t '.to_date' %></label>
                    <input class="form-control" type="date" name="to" value="<%= params[:to] %>">
                </div>
                <div class="col-12 col-md-2 d-flex align-items-end">
                    <button class="btn btn-secondary w-100" type="submit">
                    <%= t '.apply_filters' %>
                    </button>
                </div>
            </form>

            <h3 class="mt-4"><%= t '.transfers_summary' %></h3>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th><%= t '.organization' %></th>
                        <th><%= t '.outgoing_transfers' %></th>
                        <th><%= t '.incoming_transfers' %></th>
                        <th><%= t '.outgoing_hours' %></th>
                        <th><%= t '.incoming_hours' %></th>
                        <th><%= t '.total_transfers' %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @transfers_summary.each do |org_id, data| %>
                        <tr>
                            <td><%= link_to data[:name], organization_path(org_id) %></td>
                            <td><%= data[:outgoing_count] %></td>
                            <td><%= data[:incoming_count] %></td>
                            <td><%= data[:outgoing_hours] %></td>
                            <td><%= data[:incoming_hours] %></td>
                            <td><%= data[:total_transfers] %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mt-4 stats-card">
        <div class="card-body">
            <h3 class="stats-card__title"><%= t '.balance_chart' %></h3>
            <div id="balance-chart" class="chart-container chart-container--alliance"></div>
        </div>
    </div>

    <div class="card mt-4 stats-card">
        <div class="card-body">
            <h3 class="stats-card__title"><%= t '.transfers_over_time' %></h3>
            <div id="time-chart" class="chart-container chart-container--alliance"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var balanceData = <%= raw @balance_by_org.map { |_, data| 
                balance = data[:balance].round(2)
                if balance >= 0
                    { 
                        y: balance,
                        name: data[:name],
                        color: '#28a745'
                    }
                else
                    {
                        y: balance,
                        name: data[:name],
                        color: '#dc3545'
                    }
                end
            }.to_json %>;
            
            $('#balance-chart').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<%= t ".balance_with_allied_organizations" %>'
                },
                xAxis: {
                    categories: <%= raw @balance_by_org.map { |_, data| data[:name] }.to_json %>,
                    crosshair: true
                },
                yAxis: {
                    title: {
                        text: '<%= t ".hours" %>'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.2f} <%= t ".hours" %></b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0,
                        colorByPoint: true
                    }
                },
                series: [{
                    name: '<%= t ".balance" %>',
                    data: balanceData
                }]
            });

            <% if @target_organization %>
                <% org_data = @transfers_by_month[@target_organization.id] %>
                <% if org_data %>
                    var months = <%= raw org_data[:months].keys.to_json %>;
                    var outgoingData = <%= raw org_data[:months].values.map { |v| v[:outgoing] }.to_json %>;
                    var incomingData = <%= raw org_data[:months].values.map { |v| v[:incoming] }.to_json %>;
                    var balanceData = <%= raw org_data[:months].values.map { |v| v[:balance] }.to_json %>;
                    
                    $('#time-chart').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '<%= t ".time_evolution_with", org: @target_organization.name %>'
                        },
                        xAxis: {
                            categories: months,
                            crosshair: true
                        },
                        yAxis: {
                            title: {
                                text: '<%= t ".hours" %>'
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.2f} <%= t ".hours" %></b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [{
                            name: '<%= t ".outgoing" %>',
                            color: '#dc3545',
                            data: outgoingData
                        }, {
                            name: '<%= t ".incoming" %>',
                            color: '#28a745',
                            data: incomingData
                        }, {
                            name: '<%= t ".balance" %>',
                            color: '#0052cc',
                            data: balanceData
                        }]
                    });
                <% end %>
            <% else %>
                $('#time-chart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '<%= t ".select_organization_for_details" %>'
                    },
                    subtitle: {
                        text: '<%= t ".select_organization_subtitle" %>'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: '<%= t ".total_transfers" %>'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="padding:0"><b>{point.y:.0f} <%= t ".transfers" %></b></td></tr>',
                        footerFormat: '</table>',
                        useHTML: true
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.0f}'
                            }
                        }
                    },
                    series: [{
                        name: '<%= t ".total_transfers" %>',
                        colorByPoint: true,
                        data: <%= raw @transfers_summary.map { |org_id, data| { name: data[:name], y: data[:total_transfers] } }.to_json %>
                    }]
                });
            <% end %>
        });
    </script>
<% end %>
